<!DOCTYPE html>
<html lang="en" >
<head id="headId">
    <meta charset="UTF-8">
    <title>Game finish </title>
</head>
<body style="background-color:darkgray;">
<div align="center">
    <h1>Guess The game...</h1>

    <h2>Game Over</h2>

    <h3 id="result-Message">Result Message Content</h3>

    <h3>
        <a id="play_again">
            Play Again
        </a>
    </h3>

    <h3>
        <a id="go_home" >
            Home
        </a>
    </h3>

    <footer id="footerId">
        <p>Game Over Footer</p>
    </footer>

</div>
</body>
</html>