<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Play Game </title>
</head>
<body style="background-color:darkgray;">
<div align="center">
    <h1>Welcome the number guess game...</h1>

    <h3 id="main-Message" >Main Message Content</h3>
    <h3 id="result-Message">Result Message Content</h3>


    <form id="game-Form" action="play" method="post">
        <label for="guess">Enter Your Guess</label>
        <input id="guess" type="number" name="guess">
        <input type="submit" value="Submit">
    </form>

    <footer id="footerId">
        <p>Play Footer</p>
    </footer>

</div>
</body>
</html>
